<div class="container strip  pt-10 pb-10">
 <h2 class="pb-2 text-center">Download booking management apps.</h2>
  
  <div class="row">
    <div class="col-12 col-sm-4">
    </div>
    <div class="col-12 col-sm-2">
      <a href="https://apps.apple.com/in/app/bapp-book-appointments/id1523997445"><img class="text-right img-fluid" src="/images/appstore-apple.svg" /></a>
    </div>
    <div class="col-12 col-sm-2">
      <a href="https://play.google.com/store/apps/details?id=com.bigmints.bapp"><img class="text-left img-fluid" src="/images/appstore-android.svg" /></a>
    </div>
    <div class="col-12 col-sm-4">
    </div>
  </div>
  <div class="row justify-content-center">
    <p class="pt-1">** Mac and Windows apps are coming soon</p>
  </div>
</div>
<div class="footer">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="footer-inner">
          <h2 class="footer-title">{{site.title}}</h2>
          <ul>
            {% assign footermenu = site.data.menus.footer | sort: 'weight'  %}
            {% for item in footermenu %}
            <li class="{% if item.url == page.url %}active{% endif %}">
              <a href="{{ item.url | relative_url }}">{{ item.name }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
