<div class="strip strip-grey">
<div class="container pt-6 pb-6">
 <h2 class="pb-1 text-center">Download the app to get started.</h2>
  <div class="row">
    <div class="col-1 col-lg-4 col-md-3">
    </div>
    <div class="col-5 col-lg-2 col-md-3">
      <a href="https://apps.apple.com/ae/app/bapp-partner/id1605110879"><img class="text-right img-fluid" src="/images/appstore-apple.png" /></a>
    </div>
    <div class="col-5 col-lg-2 col-md-3">
      <a href="https://play.google.com/store/apps/details?id=com.bigmints.bapp.partner"><img class="text-left img-fluid" src="/images/appstore-android.png" /></a>
    </div>
    <div class="col-1 col-lg-4 col-md-3">
    </div>
  </div>
</div>
</div>
<div class="footer">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="footer-inner">
          <h2 class="footer-title">{{site.title}}</h2>
          <ul>
            {% assign footermenu = site.data.menus.footer | sort: 'weight'  %}
            {% for item in footermenu %}
            <li class="{% if item.url == page.url %}active{% endif %}">
              <a href="{{ item.url | relative_url }}" target="{{ item.target }}">{{ item.name }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://widget-qllj42ej3a-uc.a.run.app/bapp-widget.js?businessId=bapp"></script>
<button onclick="BappWidget.show('bapp')">Open Bapp Link</button>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/5f58cd5cf0e7167d000ec9ed/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->
