<div class="row">
  <div class="col-12 col-md-8">

    <div class="row">
      <div class="col-6">
        <a href="https://apps.apple.com/ae/app/bapp-partner/id1605110879"><img class="text-left img-fluid"
            src="/images/appstore-apple.png" /></a>
      </div>
      <div class="col-6">
        <a href="https://play.google.com/store/apps/details?id=com.bigmints.bapp.partner"><img
            class="text-left img-fluid" src="/images/appstore-android.png" /></a>
      </div>
    </div>
  </div>
</div>