---
layout: default
bodyClass: "page-home"
---

<div class="intro intro-home" style="background: url('{{ page.background | relURL }}')">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
        {% if page.show_call_box %}
          {% include call.html show_button=true %}
        {% endif %}
      </div>
      <!-- {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt="{{ page.title }}" class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relURL }}" />
      </div>
      {% endif %} -->
      
    </div>
  </div>
</div>

{% if site.data.hows %}
<div class="strip">
  <div class="container pt-6 pb-0 pb-md-1 ">
    <h1>How does it work?</h1>
  </div>
  <div class="container pt-2 pb-2 pt-md-2 pb-md-4">
    
    <div class="row justify-content-center">
      {% for how in site.data.hows %}
      <div class="col-12 col-md-4 col-lg-4 mb-2">
        <div class="card mb-3">
          <div style="padding: 60px"><img src="{{ how.image.url }}" class="img-fluid" /></div>
          <div class="card-body">
            <h5 class="card-title">{{ how.title }}</h5>
            <p class="card-text">{{ how.description }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

{% if site.data.privacy %}
<div class="strip strip-primary-gradient">
  <div class="container pt-6 pb-0 pb-md-0 ">
    <div class="row">
      <div class="col-12 col-md-2">
        <div style="margin: 0px 20px 40px 20px "><img src="{{ site.data.privacy.image.url }}" class="img-fluid" /></div>
      </div>
      <div class="col-12 col-md-10 mb-3">
        <h1 class="text-white">{{ site.data.privacy.title }}</h1>
        <p class="text-white">{{ site.data.privacy.description }}</p>
      </div>
    </div>
  </div>
</div>
{% endif %}
  

<div class="strip">
  <div class="container pt-6 pb-0 pb-md-1">
    <h1>Why Bapp?</h1>
  </div>
  <div class="container pt-2 pb-6 pb-md-5">
    <div class="row justify-content-start">
      {% for why in site.data.whys%}
      <div class="col-12 col-md-4 mb-1">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">
              {{ why.title }} <img src="/assets/feather-icons/arrow-right.svg"  />
            </h2>
          </div>
        </div>
        
      </div>
      {% endfor %}
    </div>
   
  </div>
</div>


<div class="strip">
  <div class="strip-grey">
    <div class="container pt-6 pb-0 pb-md-1">
      <h1>{{ site.data.target.title }}</h1>
      <h3>{{ site.data.target.description }}</h3>
    </div>
    <div class="container pt-2 pb-6 pb-md-5">
      <div class="row justify-content-start">
        {% for why in site.data.target.content %}
        <div class="col-12 col-md-4 mb-1">
          <div class="card text-white bg-dark mb-2">
            <div class="card-header">
              <h3><img src="{{ why.image.url }}" height="48" /> {{ why.title }}</h3>
            </div>
            <div class="card-body">
              
              <p class="text-white">
                {{ why.description }}
              </p>
            </div>
          </div>
          
        </div>
        {% endfor %}
      </div>
     
    </div>
  </div>
</div>

{% if site.data.enterprise %}
<div class="stripe strip-primary-gradient">
  <div class="container pt-6 pb-0 pb-md-0 ">
    <div class="row">
      <div class="col-12 col-md-2">
        <div style="margin: 0px 20px 40px 20px "><img src="{{ site.data.enterprise.image.url }}" class="img-fluid" /></div>
      </div>
     
      <div class="col-12 col-md-10 mb-5">
        <h1 class="text-white" >{{ site.data.enterprise.title }}  <i data-feather="chevron-right"></i></h1>
        <p class="text-white">{{ site.data.enterprise.description }}</p>
        <a class="btn btn-lg btn-light" href="/contact">Get in touch <img src="/assets/feather-icons/arrow-right.svg" class="feather" /></a>
      </div>
    </div>
  </div>
</div>
{% endif %}