---
layout: default
bodyClass: "page-home"
---

<div class="intro" style="background: url('{{ page.intro_image | relURL }}')">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
        {% if page.show_call_box %}
          {% include call.html show_button=true %}
        {% endif %}
      </div>
      
    </div>
  </div>
</div>

{% if site.data.hows %}
<div class="strip">
  <div class="container pt-6 pb-0 pb-md-1 ">
    <h1>How does it work?</h1>
  </div>
  <div class="container pt-2 pb-2 pt-md-2 pb-md-4">
    
    <div class="row justify-content-center">
      {% for how in site.data.hows %}
      <div class="col-12 col-md-4 col-lg-4 mb-2">
        <div class="card mb-3">
          <div style="padding: 40px"><img src="{{ how.image.url }}" class="img-fluid" /></div>
          <div class="card-body">
            <h5 class="card-title">{{ how.title }}</h5>
            <p class="card-text">{{ how.description }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

{% if site.data.privacy %}
<div class="strip strip-dark">
  <div class="container pt-6 pb-0 pb-md-0 ">
    <div class="row">
      <div class="col-12 col-md-2">
        <div style="margin: 0px 20px 40px 20px "><img src="{{ site.data.privacy.image.url }}" class="img-fluid" /></div>
      </div>
      <div class="col-12 col-md-10 mb-3">
        <h1 >{{ site.data.privacy.title }}</h1>
        <p class="text-white">{{ site.data.privacy.description }}</p>
      </div>
    </div>
  </div>
</div>
{% endif %}
  

<div class="strip">
  <div class="container pt-6 pb-0 pb-md-1">
    <h1>Why Bapp?</h1>
  </div>
  <div class="container pt-2 pb-6 pb-md-5">
    <div class="row justify-content-start">
      {% for why in site.data.whys%}
      <div class="col-12 col-md-4 mb-1">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">
              {{ why.title }}
            </h2>
            <p >
              {{ why.description }}
            </p>
          </div>
        </div>
        
      </div>
      {% endfor %}
    </div>
   
  </div>
</div>

